.url-shortener-form {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.logo {
  width: 300px;
  height: auto;
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
}
.background::before {
  content: "";
  background-image: url("blob-background.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  filter: brightness(50%);
  z-index: -5;
  width: 100vw;
  height: 100vh;
}
